1 "Introduction to C" "Dennis Ritchie" "Programming" "https://example.com" "Basic C programming tutorial"
2 "Data Structures" "Mark Allen Weiss" "Computer Science" "https://example2.com" "Learning data structures"
